// no docs say to do this anywhere, but it is necessary.
//how frustrating!

// I have moved this to master.less
@import "/assets/less/bootstrap.less";
// @import "../../../bs3/twbs-bootstrap-7f0b487/less/bootstrap.less";


// Oranges
@carrot:#e67e22;
@sunflower:#f1c40f;

//Greys:
@clouds: rgba(236, 240, 241,1.0);
@silver:#bdc3c7;
@concrete:#95a5a6;
@asbestos:#7f8c8d;

// Blues;
@asphalt:#34495e;
@midnight:rgba(44, 62, 80,1.0);
@belize:#2980b9;
@river:#3498db;


body{
	// background-color: @midnight;
	color:@clouds;
}


.thumbnail{
	background-color: @river;
}

.active i.icon-folder-open{ display:inline-block; }
.active i.icon-folder-close { display:none;}

.inactive i.icon-folder-close{ display:inline-block; }
.inactive i.icon-folder-open { display:none;}


// article {
//   .makeRow();

// 	section.post-content{
// 		.makeColumn(6);
// 	}

//   section.main {
//     .makeColumn(8);
//   }

//   aside {
//   	background-color: orange;
//     .makeColumn(3);
//   }
// }

.wrapper {
  .make-row();
}
.content-main {
	background-color: @carrot;
	.make-xs-column(6);
	.make-md-column(8);
}
.content-secondary {
	background-color: @sunflower;
  	
 	.make-xs-column(6);

 	.make-md-column(3);
 	.make-md-column-offset(1);
}
// .main{
// 	.makeRow();

// 	.sidebar{
// 		.makeColumn(4);
// 	}
	
// 	.content{
// 		.makeColumn(8);
// 	}

// }
