.shape {
  border: 20px solid #aaccaa;
  display: inline-block;
  width: 200px;
  height: 200px;
  background: #dfd;
  margin: 20px;
}
.Round {
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  border-radius: 9999px;
}
.shape:hover {
  background: #fdd;
}
#shape1 {
  background-color: #ddf;
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  border-radius: 9999px;
}
#shape2 {
  background-color: #fdd;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
#shape3 {
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
}
html,
body {
  height: 100%;
}
.accordion {
  background-color: #34495e;
}
.nav a:hover {
  text-decoration: none;
}
.thumbnail .caption {
  color: white;
}
a:hover {
  text-decoration: none;
}
a:hover i {
  color: orange;
}
.page-header {
  background-color: rgba(39,174,96,0.9);
  min-width: 100%;
  min-height: 120px;
}
.page-header a {
  color: white;
}
#sidebar-wrapper {
  height: auto;
  left: auto;
  right: 100px;
  width: 300px;
}
.admin-top {
  background-color: black;
}
@media screen and (max-width: 780px) {
  .page-header {
    padding-top: 0px;
    margin-right: -20px;
    margin-left: -20px;
  }
}
.affix {
  z-index: 10;
}
div.sand {
  background-color: white;
  height: 800px;
}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}
#push,
#footer {
  height: 60px;
}
footer {
  background-color: #f5f5f5;
}
#wrap > .container {
  padding-top: 60px;
}
.container .credit {
  margin: 20px 0;
}
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
iframe.wysihtml5-sandbox {
  height: 600px;
}
ul.tag li {
  display: inline-block;
  background-color: orange;
  padding: 5px;
  margin: 2px;
}
.navbar-inverse .nav .active > a,
.navbar-inverse .nav-collapse .nav .active > a {
  background-color: #DA500A;
  color: black;
}
.hotel {
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 5;
  padding: 5px;
  opacity: .5;
  border-top-left-radius: 60px;
  text-align: right;
}
.hotelb {
  height: 100px;
  width: 100px;
  border-top-left-radius: 100px;
}
.india {
  position: fixed;
  background-color: rgba(235,200,176,0.5);
  line-height: 300px;
  top: -15px;
  right: 10px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  text-align: center;
  z-index: -1;
}
.navbar-inner {
  z-index: 25;
}
@media (min-width: 1200px) {
  .hotel {
    background-color: yellow;
    color: purple;
  }
  .hero-unit h1 {
    margin-top: 1em;
  }
}
@media (min-width: 980px) {
  .hero-unit {
    margin-top: 60px;
  }
}
@media (min-width: 980px) and (max-width: 1199px) {
  .hotel {
    background-color: blue;
    color: orange;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .hotel {
    background-color: red;
    color: green;
  }
}
@media (min-width: 480px) and (max-width: 979px) {
  .hotel {
    background-color: green;
    color: red;
  }
  .hotelb {
    height: 80px;
    width: 60px;
    border-top-left-radius: 60px;
  }
}
@media (max-width: 480px) {
  .modal {
    width: 90%;
    margin-left: 0px;
  }
  .hotel {
    background-color: orange;
    color: blue;
  }
  .hotelb {
    height: 60px;
    width: 40px;
    border-top-left-radius: 60px;
  }
}
.navbar a {
  color: orange;
}
.HL {
  background: #ffff00;
  color: #000000;
}
.masthead {
  padding: 70px 0 80px;
  margin-bottom: 0;
  color: #fff;
}
.masthead h1 {
  font-size: 120px;
  line-height: 1;
  letter-spacing: -2px;
}
.masthead p {
  font-size: 40px;
  font-weight: 200;
  line-height: 1.25;
}
.masthead-links {
  margin: 0;
  list-style: none;
}
.masthead-links li {
  display: inline;
  padding: 0 10px;
  color: rgba(255,255,255,0.25);
}
.navbar-fixed-top {
  position: fixed;
  margin-bottom: 0px;
}
pre .str,
code .str {
  color: #65B042;
}
pre .kwd,
code .kwd {
  color: #E28964;
}
pre .com,
code .com {
  color: #AEAEAE;
  font-style: italic;
}
pre .typ,
code .typ {
  color: #89bdff;
}
pre .lit,
code .lit {
  color: #3387CC;
}
pre .pun,
code .pun {
  color: #fff;
}
pre .pln,
code .pln {
  color: #fff;
}
pre .tag,
code .tag {
  color: #89bdff;
}
pre .atn,
code .atn {
  color: #bdb76b;
}
pre .atv,
code .atv {
  color: #65B042;
}
pre .dec,
code .dec {
  color: #3387CC;
}
pre.prettyprint,
code.prettyprint {
  background-color: #000;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
}
pre.prettyprint {
  width: 95%;
  margin: 1em auto;
  padding: 1em;
  white-space: pre-wrap;
}
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #AEAEAE;
}
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
  list-style-type: none;
}
@media print {
  pre .str,
  code .str {
    color: #060;
  }
  pre .kwd,
  code .kwd {
    color: #006;
    font-weight: bold;
  }
  pre .com,
  code .com {
    color: #600;
    font-style: italic;
  }
  pre .typ,
  code .typ {
    color: #404;
    font-weight: bold;
  }
  pre .lit,
  code .lit {
    color: #044;
  }
  pre .pun,
  code .pun {
    color: #440;
  }
  pre .pln,
  code .pln {
    color: #000;
  }
  pre .tag,
  code .tag {
    color: #006;
    font-weight: bold;
  }
  pre .atn,
  code .atn {
    color: #404;
  }
  pre .atv,
  code .atv {
    color: #060;
  }
}
footer img {
  max-height: 50px;
}
