@import /assets/css/less/colors.less;
.info {
  padding: 15px;
  background-color: ;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}
html,
body {
  height: 100%;
}
.user-top .nav > li {
  display: inline-block;
}
ul.tag li {
  background-color: ;
  display: inline-block;
}
footer {
  background-color: blue;
}
.thumbnails {
  list-style: none;
}
html.theme1 body {
  background-color: ;
}
html.theme1 .content-secondary {
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}
html.theme2 .content-main {
  background-color: ;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}
html.theme2 .content-secondary {
  background-color: ;
  color: ;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}
html.theme2 .main > section {
  color: ;
}
.posts {
  background-color: ;
}
.posts > article {
  font-size: 20px;
}
.posts > article img {
  max-width: 100%;
}
.third {
  background-color: ;
}
.user-top {
  background-color: ;
  color: ;
}
.control-group {
  border: 5px;
  width: 100%;
}
.shape {
  border:  solid ;
  display: inline-block;
  width: 200px;
  height: 200px;
  background: ;
  margin: 20px;
}
.Round {
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  border-radius: 9999px;
}
.shape:hover {
  background: ;
}
#shape1 {
  background-color: ;
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  border-radius: 9999px;
}
#shape2 {
  background-color: ;
  -webkit-border-radius: ;
  -moz-border-radius: ;
  border-radius: ;
}
#shape3 {
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
}
img.thumby {
  float: left;
  height: 50px;
}
.accordion {
  background-color: ;
}
.navbar-fixed-top {
  position: fixed;
  margin-bottom: 0px;
  z-index: 10;
}
.fixed-bottom-right {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10;
}
.hotel {
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 5;
  padding: 5px;
  opacity: .5;
  border-top-left-radius: 60px;
  text-align: right;
}
.hotelb {
  height: 100px;
  width: 100px;
  border-top-left-radius: 100px;
}
@media (min-width: 1200px) {
  .hotel {
    background-color: yellow;
    color: purple;
  }
  .hero-unit h1 {
    margin-top: 1em;
  }
}
@media (min-width: 980px) {
  .hero-unit {
    margin-top: 60px;
  }
}
@media (min-width: 980px) and (max-width: 1199px) {
  .hotel {
    background-color: blue;
    color: orange;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .hotel {
    background-color: red;
    color: green;
  }
}
@media (min-width: 480px) and (max-width: 979px) {
  .hotel {
    background-color: green;
    color: red;
  }
  .hotelb {
    height: 80px;
    width: 60px;
    border-top-left-radius: 60px;
  }
}
@media (max-width: 480px) {
  .modal {
    width: 90%;
    margin-left: 0px;
  }
  .hotel {
    background-color: orange;
    color: blue;
  }
  .hotelb {
    height: 60px;
    width: 40px;
    border-top-left-radius: 60px;
  }
}
