/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  list-style: none;
}

.header {
  height: 50px;
  background-color: #232726;
}

.header .logo {
  float: left;
  display: block;
  background: url(/assets/header-logo.png) no-repeat top left;
  width: 225px;
  height: 36px;
  margin-top: 7px;
  margin-left: 10px;
}

.header .sign-out, .header .sign-in {
  display: block;
  float: right;
  text-decoration: none;
  color: #0D0D0D;
  background: #F1F1FF;
  margin: 6px 10px 0 0;
  padding: 9px 12px;
  text-align: center;
  text-transform: uppercase;
  
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  
  font-weight: normal;
}

.header .sign-out {
    color: #F1F1FF;
    background: transparent;
}

.header .app-nav-links {
    float: right;
    margin: 15px 10px 0 0;
    
    color: #777;
}

.header .app-nav-links a {
    color: #fff;
    text-decoration: none;
}

#error_explanation h2 {
    line-height: 1;
    margin: 12px 0;
    text-align: center;
    font-size: 20px;
}

#error_explanation {
    color: #ed7199;
    background: #fff;
    padding: 10px;
    border-radius: 4px;
}

/* Generic Form */

.generic-form {
    margin: 3em auto;
    padding: 3em;
    
    border-radius: 15px;
    
    width: 30em;
    
    color: #F1F1F1;
    background: #7B7CB4;
}

.generic-form a {
    color: rgba(0,0,0,0.7);
}

.generic-form input {
    background: #C5F4ED;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    border: none;
    outline: none;
    color: #4E4E81;
    font-size: 24px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: 2px 2px 0 rgba(0,0,0,0.1);
}

.generic-form input:focus, .generic-form input[type=submit] {
    background: #fff;
}

.generic-form input[type=submit]:active {
    background: #333;
    color: #fff;
}

.generic-form div {
    margin: 20px 0;
}

.generic-form h2 {
    font-size: 40px;
}

.field_with_errors {
    width: 100%;
    margin: 0 !important;
    display: inline-block;
}

/* Black Fade */

#black-fade {
  display: none;
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: black;
  z-index: 999;
}

/* Sign up/Sign in */

#signin-or-signup {
  display: none;
  padding: 55px 80px 55px 80px;
  z-index: 1000;
  position: fixed;
  width: 310px;
  top: 180px;
  left: 50%;
  margin-left: -235px;
  background: #fdfdfa;
  border-radius: 5px;
}

#s-header {
  margin-left: 10px;
}

#s-header h2 {
  padding-bottom: 5px;
  color: #91839e;
}

#s-header .active {
  color: #4e4457;
  border-bottom: 4px dashed #d2ccd5;
}

#signin-or-signup form {

}

#signup-copy {
  margin-top: 10px;
  color: #a79eae;
  text-align: center;
  font-size: 20px;
}

#signup-button, #signin-button {
  float: left;
  font-size: 36px;
  cursor: pointer;
}

.or {
  float: left;
  text-transform: uppercase;
  font-size: 19px;
  text-align: bottom;
  margin: 14px 10px 0px 10px;
  color: #91839e;
}

#signin {
  display: none;
}

#signin-or-signup input[type=text], #signin-or-signup input[type=password], #signin-or-signup input[type=submit], #signin-or-signup label {
  margin-left: 34px;
}

#signin-or-signup label {
  font-size: 18px;
  text-transform: uppercase;
}

#signin-or-signup .label {
  margin-top: 15px;
  margin-bottom: 4px;
  position: relative;
}

/* Message Visor */

.message-visor {
  display: none;
  border-radius: 0 0 5px 5px;
  position: absolute;
  border: 1px solid white;
  border-top: none;
  background-color: rgba(0,0,0, 1.6);
  width: 400px;
  text-align: center;
  margin: 0px 0px 0px 440px;
  color: white;
}

.message-visor h1 {
  
}

.message-visor .message {
  padding: 10px 0 10px 0;
  clear: both;
}

/* Modal */

.modal {
  display: none;
  padding: 55px 80px 55px 80px;
  z-index: 1000;
  position: fixed;
  width: 310px;
  top: 180px;
  left: 50%;
  margin-left: -235px;
  background: #fdfdfa;
  border-radius: 5px;
}

.modal .message {
  font-size: 22px;
}

/* FORUM MONSTER */

/* Modules
--------------------------------------------------------------------------------------------------*/
.module { 
  border-radius: 5px 5px 0px 0px;
  margin: 20px 20px; 
  background-color:#fff; 
  overflow:auto; 
}

.module table {
  border: 1px solid #e2e2e2;
  border-top: none;
}

.module a,.module a:visited {
  color: #4e4e81;
}

.module .delete-button-format, .module .delete-button-format form, .module .delete-button-format form div {
  display: inline;
}

.module_header .delete-button-format form input[type=submit] {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 12px;
  text-decoration: underline;
}

.post_header .delete-button-format form input[type=submit] {
  background: transparent;
  border: none;
  color: #4e4e81;
  font-size: 12px;
  text-decoration: underline;
}

.module_header

.module_controls { padding:.8em; }
.module_header { color:#fff; padding:.7em .7em .7em 1.4em; background-color:#4e4e81; }
.module_header a, .module_header a:visited { color:#fff; }
.module_subheader, .module_footer { margin:.6em .8em; padding:.6em; }
.module_subheader { border-bottom:1px solid #e2e2e2; }
.module_footer { border-top:1px solid #e2e2e2; }
.module_body { padding:1em; }

/* Form Fields & Labels
--------------------------------------------------------------------------------------------------*/
.module .fieldset { width:100%; }
.module .fieldset .indent { width:16em; }
.module .fieldset .label { font-weight:bold; text-align:right; display:block; float:left; padding:6px 0px 2px 1em; }
.module .fieldset .label small { font-weight:normal; }
.module .fieldset .input { padding:.2em 1em; display:block; float:left; }

/* Common
--------------------------------------------------------------------------------------------------*/
.module .clear { clear: both; height: 0; overflow: hidden; }
.module .smaller { font-size:.9em; }
.module .left { float:left; }
.module .right { float:right; text-align:right; }
.controls {
  margin: 10px 20px 0 20px;
}
.controls a { margin:0 5px; font-size:.8em; }

/* Tables
--------------------------------------------------------------------------------------------------*/
table { width:100%; border-collapse:collapse; }
table th { font-weight:normal; padding:.7em; font-size:.8em; }
table td { padding:.5em; border:1px solid #e2e2e2; border-bottom:0px; vertical-align:top; background:#fff; }
table td:first-child { border-left:0px; }
table td:last-child { border-right:0px; }

table .icon { width:26px; text-align:center; }
table .counts { width:8%; text-align:center; }
table .last_post { padding-left:10px; }
table .description { width:55%; text-align:left; padding-left:20px; }

/* Post View Table
--------------------------------------------------------------------------------------------------*/
table .post_author { padding-left:15px; vertical-align:top !important; }
table .post_author .name { font-size:1.5em; display:block; margin-bottom:5px; }
table .post_author .name a { margin-left:-20px; }
table .post_author .name.link a { margin-left:0px; }
table .post_author .info { display:block; margin:5px 0; }
table .post_body { width:80%; padding:10px 10px 30px 10px; border-bottom:0px; }

table .post_body p { margin-bottom: 10px}
/* BBCode
--------------------------------------------------------------------------------------------------*/
blockquote {
  border: 1px solid #e2e2e2;
  font-style: italic;
  margin: 10px 0px 0px 25px;
  padding: 10px;
 }





















