* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  list-style: none;
}

body {
  background-color: #d1dadf;
  font-family: "proxima-nova-soft";
}

.top-container {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #d1dadf;
  
}

.mid-container {
  clear: both ;
}

.inner {
  width: 646px;
  margin: 0 auto;
  
  position: relative;
}

.embed-viewer {
  position: relative;
}

.embed-viewer iframe {
  border-radius: 5px;
}

.embed-viewer .fullscreen-button {
  display: block;
  bottom: 15px;
  right: 15px;
  position: absolute;
  height: 20px;
  width: 20px;
  background: url(/assets/fullscreen.png) no-repeat;
}

.edit, .clone {
  display: block;
  background: url(/assets/clone.png) no-repeat;
  padding: 0 0 0 35px;
  height: 35px;
  line-height: 35px;
  text-decoration: none;
  color: #858e92;
  float: right;
}

.edit {
  width: 30px;
}

.clone {
  width: 80px;
}

.edit:hover, .clone:hover {
  text-decoration: underline;
}


/*-----------------------------------------------
 Profile Tiles
-------------------------------------------------*/
.project-tiles {
    text-align: center;
    
    color: #52547F;
}

.project-tiles h3.project-counts a {
    color: #52547F;
    text-decoration: none;
    
    font-size: 22px;
}

.project-tiles h3.project-counts a span {
    color: #B9BBEF;
}

.project-tiles .tile {
    margin-top: 50px;
    margin-right: 28px;
    
    float: left;
    
    text-align: left;
}

.project-tiles .tile:nth-child(odd) {
    margin-right: 0;
}

.project-tiles .tile .thumb {
    margin-bottom: 14px;
}

.project-tiles .tile .thumb a {
    border: 3px solid #7072A5;
    width: 340px;
    height: 226px; /* 1.5 */
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    background-color: #161209;
    
    display: block;
}

.project-tiles .tile h4, .project-tiles .tile h5 {
    margin-left: 3px;
}

.project-tiles .tile h4 a {
    color: #B9BBEF;
    font-size: 26px;
    
    text-decoration: none;
}

.project-tiles .tile h5 {
    color: #3D3E57;
    font-size: 16px;
}

.project-tiles .tile h5 a,
.project-tiles .tile h5 form,
.project-tiles .tile h5 input[type=submit] {
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    font-family: 'proxima-nova',sans-serif;
    outline: none;
    border: none;
    background: transparent;
    display: inline-block;
    color: #3D3E57;
    text-decoration: none;
}

.project-tiles .tile h5 input:hover {
    color: #B9BBEF;
}

.project-tiles:after {
    clear: both;
    content: ' ';
    visibility: hidden;
    display: block;
    height: 0;
}


/*-----------------------------------------------
 Project permalink page
-------------------------------------------------*/
html.c-projects.a-show body,
html.c-projects.a-show .top-container {
    background: #1C1D1E;
    color: #6B6773;
    
    font-family: 'proxima-nova','Helvetica Neue',Helvetica,Arial,Verdana,sans-serif;
}

html.c-projects.a-show .mid-container .inner a {
    color: #F4F4FF;
    text-decoration: none;
}

html.c-projects.a-show .mid-container .inner a:hover {
    text-decoration: underline;
}

#project-meta-info, #project-meta-info a,
#project-meta-info h1,
#project-meta-info h2 {
    font-weight: normal;
}

#project-meta-info h1 {
    font-size: 36px;
    line-height: 36px;
}

#project-meta-info h2 {
    font-size: 19px;
    line-height: 28px;
}

#project-meta-info .left,
#project-meta-info .right {
    float: left;
    position: relative;
}

#project-meta-info .left {
    width: 80px;
}

#project-meta-info .right {
    width: 566px;
}

#project-meta-info .right h1,
#project-meta-info .right h2 {
    max-width: 366px;
}

#project-meta-info .left img {
    box-shadow: 2px 2px 10px rgba(0,0,0,0.9);
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#project-meta-info .right .clone-wrapper {
    position: absolute;
    top: 0;
    right: 0;
}

#project-meta-info .right .clone-wrapper a.clone {
    display: block;
    background: url(/assets/project-page/clone.png) top left no-repeat;
    
    font-size: 18px;
    text-transform: uppercase;
    
    color: #8788A2;
    line-height: 1.25;
    
    height: 68px;
    padding: 13px 0 0 76px;
}

#project-meta-info .right .clone-wrapper a.clone.small {
    font-size: 16px;
    line-height: 0.7;
    padding-left: 35px;
    width: 60px;
    background-size: 29px 34px;
    text-transform: none;
    color: #F4F4FF;
}

#project-share-links {
    position: absolute;
    top: 0;
    right: -140px;
}

h4.share {
    padding-left: 0.5em;
    color: #fff;
    font-size: 20px;
    font-weight: normal;
}

h4.embed {
    padding-left: 0.5em;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
}

.embed-code-box {
    position: absolute;
    
    cursor: pointer;
    
    overflow: hidden;
    
    background: #474B4F;
    color: #93999F;
    line-height: 1;
    
    resize: none;
    
    outline: none;
    border: none;
    
    border-radius: 3px;
    
    width: 150px;
    height: 1em;
    
    white-space: nowrap;
    
    padding: 5px;
    
    margin-left: 7px;
}

#project-share-links a {
    display: block;
    margin-bottom: 16px;
    
    text-decoration: none;
    
    color: #8788A2;
    font-size: 14px;
    text-transform: uppercase;
}

#project-share-links a img {
    vertical-align: -16px;
    padding-right: 4px;
}

#project-share-links a.share-link {
    color: #fff;
    background-repeat: no-repeat;
    margin-bottom: 12px;
    padding: 3px 0 4px 43px;
}

#project-share-links a.share-link.twitter { background-image: url(/assets/project-page/twitter.png); background-position: 10px 2px; }
#project-share-links a.share-link.fb { background-image: url(/assets/project-page/FB.png); background-position: 16px 1px; }
#project-share-links a.share-link.reddit { background-image: url(/assets/project-page/reddit.png); background-position: 9px 0px; }