@import /assets/less/bootstrap.less;
body {
  background-color: #bdc3c7;
}
.thumbnail {
  background-color: #e67e22;
}
.active i.icon-folder-open {
  display: inline-block;
}
.active i.icon-folder-close {
  display: none;
}
.inactive i.icon-folder-close {
  display: inline-block;
}
.inactive i.icon-folder-open {
  display: none;
}
.content-main {
  background-color: #f1c40f;
}
.content-secondary {
  background-color: #e67e22;
}
