.shape {
  border: 20px solid #bbddbb;
  display: inline-block;
  width: 200px;
  height: 200px;
  background: #ddffdd;
  margin: 20px;
}
.Round {
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  border-radius: 9999px;
}
.shape:hover {
  background: #ffdddd;
}
#shape1 {
  background-color: #ddddff;
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  border-radius: 9999px;
}
#shape2 {
  background-color: #ffdddd;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
#shape3 {
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
}
