<IfModule mod_rewrite.c>
	Options -MultiViews
	RewriteEngine On

# http://stackoverflow.com/questions/234723/generic-htaccess-redirect-www-to-non-www redirect.  
# Test this at http://www.stepforth.com/resources/server-header-checker-tool

	RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
	RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.+)/$ http://%{HTTP_HOST}/$1 [R=301,L]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^ index.php [L]
</IfModule>