html,
body {
    /*background-color: red;*/
    height: 100%;
    color:rgba(189, 195, 199,1.0);
    /* The html and body elements cannot have any padding or margin. */
}

.nav a:hover{
  text-decoration: none;
}
/*http://stackoverflow.com/questions/11124777/twitter-bootstrap-navbar-fixed-top-overlapping-site*/
.thumbnail{
  background-color:rgba(189, 195, 199,.9);
}
.thumbnail .caption{
  color: white;
}
  a:hover{
    text-decoration: none;
  }
  a:hover i{
    color: orange;    
  }

/*  .contentwrap{
      padding-top: 0px;
  }*/

  /*@media screen and (max-width: 979px) {
      .contentwrap { padding-top: 0px; }
  }*/

  .page-header{

    background-color: rgba(39, 174, 96,1.0);
    color:rgba(189, 195, 199,1.0);
    min-width: 100%;
    min-height:120px;

    /*margin-bottom: 20px;*/
    /*margin-left: -60px;*/
    /*margin-right: -60px;*/

    /*padding-left: 60px;*/
    /*padding-right: 60px;*/

    /*border-bottom: 0;*/

    /*poition: static;*/
    /*width:100%;*/
    /*margin-right:-20px;*/
  }

  .page-header a{
    color:white;
  }


  #sidebar-wrapper{
    height: auto;
    left: auto;
    right: 100px;
    width: 300px;
  }
/*http://stackoverflow.com/questions/11124777/twitter-bootstrap-navbar-fixed-top-overlapping-site*/

  .admin-top{
      /*<!-- check out http://flatuicolors.com/ -->*/
      background-color: rgba(230, 126, 34,.5);

  }

  @media screen and (max-width: 780px) {
      .admin-top{
      /*margin-top: 40px;*/
      }

      .page-header{
        /*margin-top: 0px;*/
        padding-top: 0px;
        margin-right: -20px;
        margin-left: -20px;
      }
      /*.contentwrap { margin-top: 20px; }*/
      
  }

  .affix{
    /*position: fixed;*/
    /*top:0px;*/
    /*width: 40%;*/
    /*right:20px;*/
    z-index: 10;
  }

  @media screen and (min-width: 980px) {
      .admin-top{
      margin-top: 40px;
      }
      /*.contentwrap { margin-top: 40px; }*/
      /*.pageheader{padding-top: 0px;}*/

      .page-header{
        /*margin-top: 80px;*/
      }
  }

  @media screen and (max-width: 979px) {
      /*.contentwrap { padding-top: 20px; }*/
  }

  @media screen and (max-width: 767px) {
      /*.contentwrap { padding-top: 0px; }*/
    }

  div.sand{
    background-color: white;
    height: 800px;
  }

  /* Wrapper for page content to push down footer */
  #wrap {
      min-height: 100%;
      height: auto !important;
      height: 100%;
      /* Negative indent footer by it's height */
      margin: 0 auto -60px;
  }

  /* Set the fixed height of the footer here */
  #push,
  #footer {
      height: 60px;
  }
  footer {
      background-color: #f5f5f5;
  }


#wrap > .container {
    padding-top: 60px;
}
.container .credit {
    margin: 20px 0;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

iframe.wysihtml5-sandbox{
    height:600px;
}


/*http://stackoverflow.com/questions/5506258/horizontal-scroll-overflowing-html-lis-without-knowing-width*/
ul.tag li{
    display: inline-block;
    background-color: orange;
    padding: 5px;
    margin:2px;
}




.navbar-inverse .nav .active > a, .navbar-inverse .nav-collapse .nav .active > a {
    background-color: #DA500A;
    color: black;
}

.hotel{
    /*background-color: red;*/
    position: fixed; 
    /*height:60px;*/
    bottom:0px;
    right: 0px;
    z-index: 5;
    /*color: white;*/
    padding: 5px;
    opacity: .5;
    border-top-left-radius:60px; 
    text-align: right;
}

.hotelb{
    /*background-color: red;*/
    height: 100px;
    width: 100px;
    border-top-left-radius:100px;
}

.india{
    position:fixed;
    background-color: rgba(235,200,176,.5);
    /*padding:10px; */
    line-height: 300px;
    top: -15px;
    right:10px; 
    /*margin-right: -20px;*/
    width: 200px;
    height:200px;
    /*border-top:50px;*/
    border-radius: 50%;
    /*border-bottom-left-radius:50%;*/
    /*border-bottom-right-radius:50%;*/
    text-align: center;
    z-index: -1;
}
.navbar-inner{
  z-index: 25;
}


/*from the bootstrap docs:*/
    /* Large desktop */
  @media (min-width: 1200px) { 

      .hotel{
              background-color: yellow;
              color:purple;

      }

      .hero-unit h1{
          margin-top: 1em;
          
      }

  }

/*REALLY important!*/

  @media (min-width: 980px){
      .hero-unit{
          margin-top:60px;
      }
      /*.foobar{*/
          /*margin-top: 40px;*/
      /*}*/


  }

  /* Portrait tablet to landscape and desktop */
  @media (min-width: 980px) and (max-width: 1199px) { 
        .hotel{
            background-color: blue;
            color:orange;
        }

        /* body { 
        background-color: red;
                padding-top: 40px; }
        you can't do this!
                */
    }


  /* Portrait tablet to landscape and desktop */
  @media (min-width: 768px) and (max-width: 979px) { 
    .hotel{
        background-color: red;
        color:green;
    }
/*                body { 
background-color: red;
    padding-top: 40px; }*/
  }
     



  /* up to desktop */
  @media (max-width: 979px) { 
/*            .foobar{


          margin-top: -20px;
      }
      .hotel{
          background-color: green;
          color:red;

      }*/


/*      .jumbotron{
        margin-top: -20px;
        z-index: -3;
      }*/

   }

    @media (min-width: 480px) and (max-width: 979px) { 
      .hotel{
          background-color: green;
          color:red;
      }

    .hotelb{
          /*background-color: red;*/
          height: 80px;
          width: 60px;
          border-top-left-radius:60px;
      }

    }
     
    /* Landscape phones and down */
    @media (max-width: 480px) { 
              
        .modal{
          width: 90%;
          margin-left: 0px;
        }

        .hotel{
            background-color: orange;
            color:blue;
        }

        .hotelb{
            /*background-color: red;*/
            height: 60px;
            width: 40px;
            border-top-left-radius:60px;
        }
    }


  .navbar a{
    color:orange;
  }

  .HL {
    background: #ffff00;
    color: #000000;
  }



/* Masthead (docs home)
------------------------- */
.masthead {
  padding: 70px 0 80px;
  margin-bottom: 0;
  color: #fff;
}
.masthead h1 {
  font-size: 120px;
  line-height: 1;
  letter-spacing: -2px;
}
.masthead p {
  font-size: 40px;
  font-weight: 200;
  line-height: 1.25;
}

/* Textual links in masthead */
.masthead-links {
  margin: 0;
  list-style: none;
}
.masthead-links li {
  display: inline;
  padding: 0 10px;
  color: rgba(255,255,255,.25);
}

/*.container-fluid{
  margin-left: 0px;
  padding-left:  0px;
  padding-right: 0px;
}*/

.navbar-fixed-top {
    position: fixed;
    margin-bottom: 0px;
  }
/*.contentwrap{
  padding-top: 0px;
}*/

/*.jumbotron{
  .margin-left: -20px;
  .margin-right: -20px;
}*/


/*//////////////////////////////////////////*/
/* Pretty printing styles. Used with prettify.js. */
/* Vim sunburst theme by David Leibovic */

pre .str, code .str { color: #65B042; } /* string  - green */
pre .kwd, code .kwd { color: #E28964; } /* keyword - dark pink */
pre .com, code .com { color: #AEAEAE; font-style: italic; } /* comment - gray */
pre .typ, code .typ { color: #89bdff; } /* type - light blue */
pre .lit, code .lit { color: #3387CC; } /* literal - blue */
pre .pun, code .pun { color: #fff; } /* punctuation - white */
pre .pln, code .pln { color: #fff; } /* plaintext - white */
pre .tag, code .tag { color: #89bdff; } /* html/xml tag    - light blue */
pre .atn, code .atn { color: #bdb76b; } /* html/xml attribute name  - khaki */
pre .atv, code .atv { color: #65B042; } /* html/xml attribute value - green */
pre .dec, code .dec { color: #3387CC; } /* decimal - blue */

pre.prettyprint, code.prettyprint {
        background-color: #000;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        -o-border-radius: 8px;
        -ms-border-radius: 8px;
        -khtml-border-radius: 8px;
        border-radius: 8px;
}

pre.prettyprint {
        width: 95%;
        margin: 1em auto;
        padding: 1em;
        white-space: pre-wrap;
}


/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE; } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { }

@media print {
  pre .str, code .str { color: #060; }
  pre .kwd, code .kwd { color: #006; font-weight: bold; }
  pre .com, code .com { color: #600; font-style: italic; }
  pre .typ, code .typ { color: #404; font-weight: bold; }
  pre .lit, code .lit { color: #044; }
  pre .pun, code .pun { color: #440; }
  pre .pln, code .pln { color: #000; }
  pre .tag, code .tag { color: #006; font-weight: bold; }
  pre .atn, code .atn { color: #404; }
  pre .atv, code .atv { color: #060; }
}
</style>