html,
body {
    /*background-color: red;*/
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}
/*http://stackoverflow.com/questions/11124777/twitter-bootstrap-navbar-fixed-top-overlapping-site*/



    .contentwrap{
        padding-top: 0px;
    }

/*    @media screen and (max-width: 979px) {
        .contentwrap { padding-top: 0px; }
    }*/

  .page-header{

    background-color: rgba(52, 152, 219,1);
    min-width: 100%;
    min-height:120px;

    /*padding-top: 20px;*/

    /*margin-top: 60px;*/
    /*margin-right: 0px;*/
    /*margin-left: 0px;*/
    margin-bottom: 20px;
    /*margin-left:-80px;*/

    margin-left: -60px;
    padding-left: 60px;
    margin-right: -60px;
    padding-right: 60px;

    /*background-color: rgba(46, 204, 113,1.0);*/

    border-bottom: 0;

    /*poition: static;*/
    /*width:100%;*/
    /*margin-right:-20px;*/
  }

.page-header a{
  color:white;
}


  #sidebar-wrapper{
    height: auto;
    left: auto;
    right: 100px;
    width: 300px;
  }
/*http://stackoverflow.com/questions/11124777/twitter-bootstrap-navbar-fixed-top-overlapping-site*/

    .admin-top{
        /*<!-- check out http://flatuicolors.com/ -->*/
        background-color: rgba(230, 126, 34,.5);
        
    }

    @media screen and (max-width: 979px) {
        .admin-top{
        margin-top: 40px;
        }

        .page-header{
          margin-top: 0px;
          margin-right: -20px;
          margin-left: -20px;
        }
        /*.contentwrap { margin-top: 20px; }*/
        
    }

    .affix{
      /*position: fixed;*/
      top:0px;
      /*width: 40%;*/
      /*right:20px;*/
    }

    @media screen and (min-width: 980px) {
        .admin-top{
        margin-top: 40px;
        }
        .contentwrap { margin-top: 40px; }
        /*.pageheader{padding-top: 0px;}*/
        .affix{
          margin-top:40px;
        }
        .page-header{
          /*margin-top: 80px;*/
        }
    }

    @media screen and (max-width: 979px) {
        .contentwrap { padding-top: 20px; }
    }

    @media screen and (max-width: 767px) {
        /*.contentwrap { padding-top: 0px; }*/
      }




div.sand{
  background-color: white;
  height: 800px;
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 60px;
}
footer {
    background-color: #f5f5f5;
}

/*next 2 properties correct overlapping div probelem*/
.contentwrap{
  /*background-color: red;*/

  }



#wrap > .container {
    padding-top: 60px;
}
.container .credit {
    margin: 20px 0;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

iframe.wysihtml5-sandbox{
    height:600px;
}


/*http://stackoverflow.com/questions/5506258/horizontal-scroll-overflowing-html-lis-without-knowing-width*/
ul.tag li{
    display: inline-block;
    background-color: orange;
    padding: 5px;
    margin:2px;
}


.nav a:hover{
  text-decoration: none;
}

.navbar-inverse .nav .active > a, .navbar-inverse .nav-collapse .nav .active > a {
    background-color: #DA500A;
    color: black;
}

.hotel{
    /*background-color: red;*/
    position: fixed; 
    /*height:60px;*/
    bottom:0px;
    right: 0px;
    z-index: 5;
    /*color: white;*/
    padding: 5px;
    opacity: .5;
    border-top-left-radius:60px; 
}

.hotelb{
    /*background-color: red;*/
    height: 100px;
    width: 100px;
    border-top-left-radius:100px;
}

.india{
    position:relative;
    background-color: rgba(235,200,176,.5);
    /*padding:10px; */
    line-height: 300px;
    margin-top: -120px; 
    /*margin-right: -20px;*/
    width: 200px;
    height:200px;
    /*border-top:50px;*/
    border-radius: 50%;
    /*border-bottom-left-radius:50%;*/
    /*border-bottom-right-radius:50%;*/
    text-align: center;
    z-index: -1;
}
.navbar-inner{
  z-index: 25;
}

.foxtrot{

}



/*from the bootstrap docs:*/
    /* Large desktop */
    @media (min-width: 1200px) { 

        .hotel{
                background-color: yellow;
                color:purple;

        }

        .hero-unit h1{
            margin-top: 1em;
            
        }

    }

/*REALLY important!*/

    @media (min-width: 980px){
        .hero-unit{
            margin-top:60px;
        }
        /*.foobar{*/
            /*margin-top: 40px;*/
        /*}*/


    }

    /* Portrait tablet to landscape and desktop */
    @media (min-width: 980px) and (max-width: 1199px) { 
            .hotel{
                background-color: blue;
                color:orange;

            }


            /* body { 
            background-color: red;
                    padding-top: 40px; }
            you can't do this!
                    */
        }


    /* Portrait tablet to landscape and desktop */
    @media (min-width: 768px) and (max-width: 979px) { 
            .hotel{
                background-color: red;
                color:green;
            }


/*                body { 
background-color: red;
        padding-top: 40px; }*/
        }
     



    /* up to desktop */
    @media (max-width: 979px) { 
/*            .foobar{


                margin-top: -20px;
            }
            .hotel{
                background-color: green;
                color:red;

            }*/


            .jumbotron{
              margin-top: -20px;
              z-index: -3;
            }

         }

    @media (min-width: 480px) and (max-width: 979px) { 
            .hotel{
                background-color: green;
                color:red;
            }

            .hotelb{
                /*background-color: red;*/
                height: 80px;
                width: 60px;
                border-top-left-radius:60px;
            }


        }
     
    /* Landscape phones and down */
    @media (max-width: 480px) { 
              
            .modal{
              width: 90%;
              margin-left: 0px;
            }
            .hotel{
                background-color: orange;
                color:blue;
            }

            .hotelb{
                /*background-color: red;*/
                height: 60px;
                width: 40px;
                border-top-left-radius:60px;
            }
        }


.hero-unit{
    background-color: #cccccc;
    box-shadow: 10px 10px 5px #666666;

}


.img-circle{
    /*border: 30px solid #888888;*/

    /*border-color: #888888;*/
}



  .navbar a{
    color:orange;
  }

.HL {background: #ffff00;
color: #000000;}


/* Jumbotrons
-------------------------------------------------- */

/* Base class
------------------------- */
.jumbotron {

  margin-right: -20px;
  margin-left: -20px;
  position: relative;
  padding: 40px 0;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  background: #020031; /* Old browsers */
  background: -moz-linear-gradient(45deg, #020031 0%, #6d3353 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#020031), color-stop(100%,#6d3353)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg, #020031 0%,#6d3353 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg, #020031 0%,#6d3353 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg, #020031 0%,#6d3353 100%); /* IE10+ */
  background: linear-gradient(45deg, #020031 0%,#6d3353 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020031', endColorstr='#6d3353',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
     -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}
.jumbotron h1 {
  font-size: 80px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}
.jumbotron p {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.25;
  margin-bottom: 30px;
}

/* Link styles (used on .masthead-links as well) */
.jumbotron a {
  color: #fff;
  color: rgba(255,255,255,.5);
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.jumbotron a:hover {
  color: #fff;
  text-shadow: 0 0 10px rgba(255,255,255,.25);
}

/* Download button */
.masthead .btn {
  padding: 19px 24px;
  font-size: 24px;
  font-weight: 200;
  color: #fff; /* redeclare to override the `.jumbotron a` */
  border: 0;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
     -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
          box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
  -webkit-transition: none;
     -moz-transition: none;
          transition: none;
}
.masthead .btn:hover {
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
     -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
          box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
}
.masthead .btn:active {
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
     -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
          box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
}


/* Pattern overlay
------------------------- */
.jumbotron .container {
  position: relative;
  z-index: 2;
}
.jumbotron:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(../img/bs-docs-masthead-pattern.png) repeat center center;
  opacity: .4;
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and ( min--moz-device-pixel-ratio: 2),
only screen and ( -o-min-device-pixel-ratio: 2/1) {

  .jumbotron:after {
    background-size: 150px 150px;
  }

}

/* Masthead (docs home)
------------------------- */
.masthead {
  padding: 70px 0 80px;
  margin-bottom: 0;
  color: #fff;
}
.masthead h1 {
  font-size: 120px;
  line-height: 1;
  letter-spacing: -2px;
}
.masthead p {
  font-size: 40px;
  font-weight: 200;
  line-height: 1.25;
}

/* Textual links in masthead */
.masthead-links {
  margin: 0;
  list-style: none;
}
.masthead-links li {
  display: inline;
  padding: 0 10px;
  color: rgba(255,255,255,.25);
}


/*.container-fluid{
  margin-left: 0px;
  padding-left:  0px;
  padding-right: 0px;
}*/


.navbar-fixed-top {
    margin-bottom: 0px;
  }
.contentwrap{
  padding-top: 0px;
}


.jumbotron{
  .margin-left: -20px;
  .margin-right: -20px;
}

