notes2

Binary file /home/gristech/myapp/composer.phar matches

/home/gristech/myapp/php_errorlog:
[05-Jul-2013 00:59:33 CST6CDT] PHP Fatal error:
  Class 'ComposerAutoloaderInitf4eb0db2a50c63687290745c95c169e0' not found in /home/gristech/myapp/vendor/autoload.php on line 8

/home/gristech/myapp/php_errorlog:
[05-Jul-2013 01:12:48 CST6CDT] PHP Fatal error:
  Class 'ComposerAutoloaderInitf4eb0db2a50c63687290745c95c169e0' not found in /home/gristech/myapp/vendor/autoload.php on line 8

----


/home/gristech/myapp/vendor/composer/autoload_real.php:class ComposerAutoloaderInit235c5cab6004e693b8ee359eec6498cc

/home/gristech/myapp/vendor/composer/autoload_real.php:        spl_autoload_register(array('ComposerAutoloaderInit235c5cab6004e693b8ee359eec6498cc', 'loadClassLoader'), true, true);

/home/gristech/myapp/vendor/composer/autoload_real.php:        spl_autoload_unregister(array('ComposerAutoloaderInit235c5cab6004e693b8ee359eec6498cc', 'loadClassLoader'));

/home/gristech/myapp/vendor/autoload.php:return ComposerAutoloaderInitf4eb0db2a50c63687290745c95c169e0::getLoader();

<!-- /home/gristech/myapp/public/php_errorlog:
[04-Jul-2013 07:24:51 CST6CDT] PHP Fatal error:
  Class 'ComposerAutoloaderInit50f44639b306c7773a337b5c4650094b' not found in /home/gristech/myapp/vendor/autoload.php on line 7

/home/gristech/myapp/public/php_errorlog:
[04-Jul-2013 07:24:58 CST6CDT] PHP Fatal error:
  Class 'ComposerAutoloaderInit50f44639b306c7773a337b5c4650094b' not found in /home/gristech/myapp/vendor/autoload.php on line 7

/home/gristech/myapp/public/php_errorlog:
[04-Jul-2013 07:25:49 CST6CDT] PHP Fatal error:
  Class 'ComposerAutoloaderInitf4eb0db2a50c63687290745c95c169e0' not found in /home/gristech/myapp/vendor/autoload.php on line 8

/home/gristech/myapp/public/php_errorlog:
[04-Jul-2013 07:25:54 CST6CDT] PHP Fatal error:
  Class 'ComposerAutoloaderInitf4eb0db2a50c63687290745c95c169e0' not found in /home/gristech/myapp/vendor/autoload.php on line 8 -->
